<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Available polls</h1>
    {% if messages %}
        <div class="messages">
        {% for message in messages %}
            <h2>{{message}}</h2>
        {% endfor %}
        </div>

    {% endif %}
    {% if all_question %}
        {% for i in all_question %}
            {% if i.can_vote %} 
                <div><a href="detail/{{i.id}}">{{i}}</a> status:open</div>
            {% else %}
                <div><a href="{% url 'detail' i.id %}">{{i}}</a> status:close</div>
            {% endif %}
        {% endfor %}
    {% else %}
    <h2>no polls available now</h2>
    {% endif %}
</body>
</html>